<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Evil Hacker</title>
</head>
<body>

<h2>Stolen Cookies</h2>
<table border="1">
	<thead>
		<tr>
			<th>Date</th>
			<th>URL</th>
			<th>Cookies</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="item: ${stolenCookies}">
			<td th:text="${#calendars.format(item.date, 'dd/MMM/yyyy HH:mm:ss')}">date</td>
			<td><a th:href="${item.url}" target="_blank">url</a></td>
			<td th:text="${item.cookies}">cookie</td>
		</tr>
	</tbody>
</table>

</body>
</html>