<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Restaurant</title>
</head>
<body>
	<h1>Tables</h1>
	<div th:include="menu::menu">Menu</div>
	
	<div th:if="${message} != null" th:text="${message}"></div>
	
	<h1>Create Table</h1>
	<form th:action="${path}" method="post">
		<fieldset>
			<input type="number" name="number"/>
			<input type="number" name="seats"/>
			<input type="submit" name="create" value="Create Table"/>
		</fieldset>
	</form>
	
	<h1>Table List</h1>
	<table border="1">
		<tr>
			<th>Number</th>
			<th>Seats</th>
			<th colspan="2">Actions</th>
		</tr>
		<tr th:each="table : ${tables}">
			<td th:text="${table.number}"></td>
			<td th:text="${table.seats}"></td>
			<td>
				<form th:action="${path}" method="post">
					<input type="hidden" name="number" th:value="${table.number}"/>
					<input type="submit" name="delete" value="Delete Table"/>
				</form>
			</td>
			<td>
				<a th:if="${table.currentOrder} == null" th:href="@{/orders/{tableNumber}?new(tableNumber=${table.number})}">new order</a>
				<a th:if="${table.currentOrder} != null" th:href="@{/orders/{tableNumber}(tableNumber=${table.number})}">order details</a>
			</td>
		</tr>
	</table>
</body>
</html>